.circle-link {
  height: 40px;
  width: 180px;
  font-weight: 900;
  border-radius: 40px;
  margin: 8px;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
  background-color: orangered;
  color: white;
}

.padding {
  padding-left: 21%;
  padding-top: 10%;
}
